body {
    background-color:#162016;
    color:#eee;
}

.ag-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height:20px;
    background-color: #222;
    text-align:center;
    color:#ccc;
    border-top: 8px solid darkgreen;
}